body {
 font-family: sans-serif;
 cursor: pointer;
}
.flex {
display: flex;
padding: 0px;
list-style: none;
}

.flex_column {
flex-direction: column;
 
}

ul.flex . li {
margin-bottom: 10px;
} 


code {
  font-size: 16px;
  background: dodgerblue;
  color: #fff;
  padding: 2px;
  line-height: 1.6em;
  white-space: break-spaces;
     }
     
